<section class="tela">
    <div class="card">
        <h2>LISTA DE ITENS:</h2>

        <ul class="lista">
            <li>Refrigerante <span class="ok">✔</span></li>
            <li>Bolo <span class="ok">✔</span></li>
            <li>Salgadinho <span class="ok">✔</span></li>
            <li>Prato <span class="ok">✔</span></li>
            <li>Guardanapo <span class="ok">✔</span></li>
            <li>Talheres <span class="erro">✘</span></li>
        </ul>

        <button class="btn" onclick="carregarTela('tela3.html')">Avançar</button>
    </div>
</section>